 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Advanced Computing - Machine Learning, Data Mining and High-Performance Computing </h4>
    <h5 class="meta">University of Bristol</h5>
    <div class="time">Sep 2016 - Feb 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BBA in Information Management</h4>
    <h5 class="meta">National Central University</h5>
    <div class="time">Sep 2010- Jun 2014</div>
</div><!--//item-->
</div><!--//education-container-->
